@model MotoGP.Models.Ticket
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["BannerNr"] = 3;
    ViewData["Title"] = "Confirmation";
    var date = DateTime.Now.ToString("dd/MM/yyyy");
}


<p>Thank you @Html.DisplayFor(model => model.Name) for ordering tickets for the race in @Html.DisplayFor(model => model.Race.Name) on @Html.DisplayFor(model => model.Race.Date). Your booking is registered on @date We will send the @Html.DisplayFor(model => model.Number) tickets as soon as possible.  </p>

<a asp-controller="Home" asp-action="Menu">Back</a>