@{ 
    var banners = new List<String>
    {"BannerRaces.jpg","BannerRiders.jpg","BannerTeams.jpg","BannerTickets.jpg"};

    var number = ViewData["BannerNR"];

    int i = (int)ViewData["BannerNr"];
    var filename = "/images/banners/" + banners[i];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - MotoGP</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<style>
    h1{
        color: red;
    }
</style>
<body>
    <a asp-controller="Home" asp-action="Index">
        <img src="@filename" />
    </a> 
    <h1>@ViewData["Title"]</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
